canvas {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
}

#canvases {
    transition: all 0.8s;
    transition-delay: 0.6s;
}

#cloud-canvas, #cloud-canvas2{
    filter: blur(2px);
}