body {
    margin: 0;
    padding: 0;
    background: #111;
    overflow-x: hidden;
}

h1, p, label, button {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Press Start 2P', cursive;
    transition: 0.5s all;
}

p, label {
    text-shadow:
    0px 0px 0px #ffffff;
    transition: all 0.25s;
}

h1:hover{
    filter: hue-rotate(-720deg) saturate(200%);
}

button {
    background: var(--bgdark);
    border: none;
    margin-top: 20px;
}

header {
    width: 100%;
    height: 75px;
    background: rgb(75, 75, 75);
    display: flex;
    justify-content: center;
}

header h1 {
    align-self: center;
}

label {
    font-size: 0.8em;  
}

.wrapper {
    width: 50%;
    max-width: 400px;
    margin: 0 auto;
}

.question-box {
    margin-top: 20px;
    width: 100%;
    min-height: 400px;
    background: var(--lowmid);
    padding: 30px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    transition: all 0.300s ease-in-out;
}

.options{
    grid-template-columns: 1fr;
    background: var(--highmid);
    padding: 20px;
    display: grid;
}

.options input[type='checkbox'] {
    color: black;
    transform: scale(1.25,1);
}

.question {
    margin-top: 20;
}

.hidden{
    transform: translate(-110vw, 0) rotate(-10deg);
    filter: hue-rotate(180deg) opacity(0%);
}

.switch{
    transition: all 0s;
    transform: translate(110vw, 0) rotate(-10deg);
}

span:hover {
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000,
        1px 1px 0px #3273ff,
        1px 1px 1px #3273ff,
        2px 2px 0px #9532ff,
        2px 2px 2px #9532ff,
        3px 3px 0px #ff3232,
        3px 3px 3px #ff3232,
        4px 4px 0px #ff9932,
        4px 4px 4px #ff9932,
        5px 5px 0px #32ff40,
        5px 5px 5px #32ff40;
}

span {
    transition: all 0.1s;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        0 0 0 #000,
        0 0 0px #3273ff,
        0 0 0 #3273ff,
        0 0 0px #9532ff,
        0 0 0 #9532ff,
        0 0 0px #ff3232,
        0 0 0 #ff3232,
        0 0 0px #ff9932,
        0 0 0 #ff9932,
        0 0 0px #32ff40,
        0 0 0 #32ff40;    
}

@media screen and (max-width: 600px) {
    .wrapper{
        width: 95%
    }

    .options{
        padding: 5px;
    }

    button, p {
        transform: scale(1,1);
    }

    header {
        height: 100px;
        padding: 10px;
    }

    h1 {
        transform: scale(0.8, 0.8);
    }
}